img {
    height: 100%;
    width: 100%;
}
.navbar-brand {
    padding-left: 5%;
}
nav .collapse {
    padding-right: 5%;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.empowerYourAudiense {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1516721306533-364eee523197?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1088&q=80);
    color: white;
}
.empowerYourAudiense .container {
    padding-top: 10%;
}
.empowerYourAudiense .container h1, .empowerYourAudiense .container p {
    padding-top: 3%;
}
.empowerYourAudiense .container h1 {
    font-size: 50px;
}
.empowerYourAudiense .container button {
    margin-top: 5%;
    border-radius: 2em;
    padding: 10px 20px;
}
.aboutFramework h2, .aboutFramework h5, .aboutFramework .col, .aboutFramework .col p {
    padding-top: 5%;
}
.aboutFramework .col p {
    padding-top: 2%;
}
.exploreNewWorld {
    padding-top: 5%;
}
.exploreNewWorld .informationCon, .exploreNewWorld .informationConForComputers, .exploreNewWorld .informationConForPhones {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aboutSite h2, .aboutSite p {
    padding-top: 3%;
}
.aboutSite button {
    margin-top: 7%;
    border-radius: 2em;
    padding: 5px 40px;
}
.aboutSite {
    margin-top: 4%;
    margin-left: 5%;
}
.informationConForPhones {
    display: none!important;
}
.signInForm {
    padding-top: 5%;
}
.form-control {
    background-color: rgb(216, 214, 214);
    border-radius: 2em;
}
@media screen and (max-width: 425px) {
    .empowerYourAudiense .container {
        padding-top: 20%;
    }
    .exploreNewWorld .informationCon, .exploreNewWorld .informationConForPhones, .exploreNewWorld .informationConForComputers {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .informationConForPhones {
        display: grid;
    }
    .informationConForComputers {
        display: none!important;
    }
    .informationCon, .informationConForPhones {
        padding-bottom: 5%;
    }
    .aboutFramework .row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .signInForm button {
        margin-left: 40%;
    }
}